*{
  font-family: Impact, fantasy;
}

header{
  margin: 0;
  background-color: rgb(149, 240, 184);
  height: 150px;
  border-bottom: 5px solid rgb(0, 187, 25);
}

footer{
  height: 120px;
  background-color: rgb(149, 240, 184);
  border-top: 5px solid rgb(0, 187, 25);
}

.footerText{
  text-align: center;
  line-height: 100px;
}

.mainTitle{
  color: #0076ff;
  margin: 0 auto;
  line-height: 150px;
  text-align: center;
  font-weight: 200;
  font-size: 48px;
}

.ModeButton{
  font-weight: 0;
  top: 50px;
  right: 30px;
  padding: 15px;
  background-color: aqua;
  position: absolute;
  border: 3px solid blue;
  transition: background-color 0.3s ease-out;
  outline: none;
  border-radius: 15px;
}
.ModeButton:hover{
  background-color: #29c9c9;
  cursor: pointer;
}

.controlButtonsBlock{
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px;
}

.controlButton{
  flex: 1 0 25%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  height: 90px;
  margin: 50px 20px 0 30px;
  padding: 10px;
  background-color: #ffc400;
  border: 4px solid #ff6200;
  transition: background-color 0.3s ease-out;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
}
.controlButton:hover{
  background-color: #e3a044;
}

.WorkTable{
  margin: 80px;
  display: flex;
  justify-content: center;
}

#controlBut{
  background-color: #50d050;
  border-color: green;
}
#controlBut:hover{
  background-color: #1aa31a;
}

canvas{
  transition: all .5s ease;

}

#map{
      background-color: #fff8d3;
      border: 5px solid red;
  }